*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .1 linear;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: #333;
}

.App{
  width: 100vw;
  height: 100vh;
}

::selection{
  background: transparent;
  color: springgreen;
}

a,input,button{
  cursor: pointer;
}